:root {
  --main-bg-color: #202123;
  --main-color: white;
  --svg-menu-color: #e5e5e5;
  --border-color: #5f6368;
  --hovered-search-engine-bg: #303134;
  --hovered-search-engine-box-shadow: #171717;
  --hovered-search-engine-border-color: #dfe1e500;
  --footer-bg-color: #171717;
  --footer-link-colors: #999da2;
  --btn-bg-color: #303134;
  --btn-hover: #1717173d;
  --btn-color: #e8eaed;
}
html[data-theme="light"] {
  --main-bg-color: #ffffff;
  --main-color: #000000de;
  --svg-menu-color: #000;
  --border-color: #dadce0;
  --hovered-search-engine-bg: #ffffff;
  --hovered-search-engine-box-shadow: #20212447;
  --hovered-search-engine-border-color: #dfe1e500;
  --footer-bg-color: #f2f2f2;
  --footer-link-colors: #70757a;
  --btn-bg-color: #f8f9fa;
  --btn-hover: #1717173d;
  --btn-color: #3c4043;
}
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Cairo", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
}
.container {
  /* margin: 0 auto; */
  padding: 0px 5px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header */
header nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 15px;
}
header nav ul li {
  margin-right: 15px;
}
header nav ul .google-apps {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  padding: 5px;
  border-radius: 50%;
}
.google-apps-menu {
  position: absolute;
  right: 27px;
  width: 350px;
  height: 380px;
  overflow: auto;
  background-color: #2d2e30;
  padding: 10px;
  border-radius: 11px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1000;
  display: none;
}
.google-apps-menu::-webkit-scrollbar {
  width: 7px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
.google-apps-menu::-webkit-scrollbar-thumb {
  background-color: #5f6267;
}
.google-apps-menu.active {
  display: flex;
}
.google-apps-menu div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 17px 10px;
  border-radius: 6px;
  background: #353535;
  flex-basis: 30%;
  margin: 5px;
}
.google-apps-menu div img {
  width: 30px;
}
.google-apps-menu div img.profile-photo {
  border-radius: 50%;
}
.google-apps-menu div span {
  margin-top: 20px;
  color: var(--main-color);
}
header nav ul .google-apps:hover {
  background: #4a4a4a;
}
#theme {
  appearance: none;
  border: none;
  background-color: #20212447;
  color: #dd00dd;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 6px;
  margin: 20px 0;
  cursor: pointer;
}
header nav ul li a {
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
}
header nav ul li img {
  width: fit-content;
  display: inline-block;
  border-radius: 50%;
}
header nav ul li svg {
  width: 23px;
  fill: var(--svg-menu-color);
  vertical-align: middle;
}
.search-engine .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  /* height: calc(100vh - 75px); */
  /* height: calc(100vh - 156px); */
  padding: 100px;
}

.google-logo {
  mask-image: url("imgs/google_logo.svg");
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-image: url("imgs/google_logo.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: var(--main-color);
  width: 270px;
  height: 128px;
}

.search-engine .container form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 560px;
  height: 44px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid var(--border-color);
}
.search-engine .container form > div:hover {
  background-color: var(--hovered-search-engine-bg);
  box-shadow: 0 1px 6px 0 var(--hovered-search-engine-box-shadow);
  border-color: var(--hovered-search-engine-border-color);
  color: white;
}
.search-engine .container form > div:hover input[type="search"] {
  background-color: var(--hovered-search-engine-bg);
}
.searchButton {
  background-image: url("imgs/icon_search.svg");
  background-size: cover;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.voiceSearchButton {
  background-image: url("imgs/googlemic_clr_24px.svg");
  background-size: cover;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  z-index: 10;
  cursor: pointer;
}
input[type="search"] {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding-left: 15px;
  font-size: 16px;
}
.btns {
  margin-top: 16px;
  padding: 16px 20px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.btns button {
  background-color: var(--btn-bg-color);
  border: 1px solid #303134;
  border-radius: 4px;
  color: var(--btn-color);
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.btns button:hover {
  box-shadow: 0 1px 3px var(--btn-hover);
  border: 1px solid var(--border-color);
  color: var(--btn-color);
}
@media (max-width: 600px) {
  .search-engine .container form > div {
    width: 350px;
  }
}
.in-ar {
  color: #bdc1c6;
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
}
.in-ar a {
  color: #8ab4f8;
}
.location {
  padding: 15px;
  border-bottom: 1px solid #3c4043;
  font-size: 15px;
  color: #9aa0a6;
}
footer {
  background-color: var(--footer-bg-colors);
  position: absolute;
  bottom: 0;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
footer .container div a {
  display: inline-block;
  color: var(--footer-link-colors);
  padding: 15px;
  white-space: nowrap;
}
footer .container div a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  footer .container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 7px;
  }
  footer .container div a {
    padding: 10px;
  }
}
